{% load static %}


<!DOCTYPE html>
<html lang="pt-br">
   <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta http-equiv="X-UA-Compatible" content="ie=edge">
      <title>Complain</title>
      <link rel="stylesheet" href="{% static 'all.css' %}">
      <link rel="stylesheet" href="{% static 'https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css' %}">
      <link href="{% static '//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css' %}" rel="stylesheet" id="bootstrap-css">
      <script src="{% static '//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js' %}"></script>    
      <script src="{% static '//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js' %}"></script>
<!------ Include the above in your HEAD tag ---------->
      <script src="{% static 'https://code.jquery.com/jquery-3.3.1.js' %}"></script>
      <style>
   .xyz{ 

width: 80%;
border: 2px solid black;
border-radius: 10px;
padding: 10px;
margin-left: 20px;
margin-bottom: 20px;

}
</style>
      
   </head>
   <body>
      <div class="wrapper">
         <header>
            <nav>
               <div class="menu-icon">
                  <i class="fa fa-bars fa-2x"></i>
               </div>
               <div class="logo">
                  <p style = "font-family:georgia,garamond,serif;font-size:50px;font-style:bold;">
                     Complaint
                  </p>
               </div>
               <div class="menu">
                  <ul>
                     <div style = "position:relative; left:30px; top:50px;">
                     <li><a href="{% url 'home1' %}">Home</a></li>
                     <li><a href="{% url 'lndf' %}">Lost and Found</a></li>
                     <li><a href="{% url 'Library' %}">Library</a></li>
                     <li><a href="{% url 'cafe' %}">Cafeteria</a></li> 
                     </div>
                  </ul>
               </div>
            </nav>
         </header>
         <div class="xyz">
               <h4>Nidhi Rajput</h4>
               <p style="color: #B8B8B8 ;">Girls washroom no.2's flush is not working</p>
            </div>
            <div class="xyz">
             <h4>Krishanki</h4>
             <p style="color: #B8B8B8 ;">IT lab 7 system no. 32 is not working.</p>
          </div>
          <div class="xyz">
             <h4>Diya</h4>
             <p style="color: #B8B8B8 ;">Found trash in students area parking.</p>
          </div>
         </div>
      </div>
      <script src="./all.js" ></script>
   </body>
</html>